* {
    box-sizing: border-box;
}

.titulo {
    margin-top: 50px;
    margin-left: 550px;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: navy;
}

.container {
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
}

.principal {
    align-items: center;
    width: 1200px;
    height: 550px;
}

.dificuldades button {
    width: 400px;
    height: 100px;
    background-color:slategrey;
    color:lightblue;
    font-size: 40px;
    font-weight: bold;
    border-color:slategray;
    border-width: 1ch;
    margin-left: 200px;
    margin-top: 63px
}

.categorias {
    margin-top: 150px; 
    margin-right: 150px;
}

.botao-start {
    width: 200px;
    font-size: 27px;
    color: lightblue;
    border-width: 10px;
}

.quizz {
    margin-left: 50px;
}

.div-pontos {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    size: 50px;
    font-family: monospace;
    font-style: italic;
    font-weight: bolder;
}

.letra-bonita {
    font-size: 32px;
    font-family: fantasy;
    font-style: italic;
}

.pergunta {
    margin-left: 200px;
    font-size: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-variant: small-caps;
}

#letra-A, #letra-C {
    margin-left: 220px;
}

#letra-B, #letra-D {
    margin-left: 20px;
}

.letras {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.quadro #opcao-um, #opcao-dois, #opcao-tres, #opcao-quatro{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-style: inherit;
    width: 320px;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: oblique;
    border-color: goldenrod;
    border-width: 1ch;
}

.confirma {
    background-color:greenyellow;
    border-color:greenyellow;
    border-width: 10px;
    width: 160px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 400px;
    margin-right: 50px;
}

.isSelected {
    border-color: orangered;
}

.notSelected {
    border-color:palegreen;
}

.seta {
    background-image: url(img/play-button.png);
    background-size: 70px 70px;
    height: 90px;  
    width: 90px;
    border-radius: 50%;
}

.dourado {
    background-color: goldenrod;
}

.certo {
    background-color:green;
}

.errado {
    background-color: red;
}

.botao-armazena {
    background-color: royalblue;
    border-color:royalblue;
    border-width: 10px;
    width: 160px;
    height: 60px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 50px;
}